@using RowShareBlogEngine.Models
@model BlogModel
@{
    ViewBag.Title = ViewBag.BlogTitle;
}

<div class="jumbotron">
    <h1>@Model.Title</h1>
    <p class="lead">@Model.Description</p>
</div>

@foreach (ArticleModel article in Model.Articles.OrderByDescending(a => a.Date).Where(a => a.IsPublished && a.Date <= DateTime.Now))
{
    <div class="row">
        <div class="col-md-12">
            <h2>@article.Title</h2>
            <span class="badge">@article.Date</span><span class="badge">@article.Category</span>
            <hr />
            <p>
                @Html.Raw(@article.TruncatedContent)
            </p>
            <p><a class="btn btn-default" href="/Home/article?id=@article.Id">Learn more &raquo;</a></p>
        </div>
    </div>
}