@using RowShare.BlogEngine.Models
@model ArticleModel
@{
    ViewBag.Title = Model.Title + "-" + ViewBag.BlogTitle;
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
        <span class="badge">@Model.Date</span><span class="badge">@Model.Category</span>
        <hr />
        <p>
            @Html.Raw(@Model.Content)
        </p>
        <p><a class="btn btn-default" href="/">Get back home!</a></p>
    </div>
</div>