<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="@ViewBag.MapDescription" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.MapTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink((string)(@ViewBag.MapTitle) + " ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <a href="#" class="navbar-brand" style="float:right;" data-toggle="modal" data-target="#aboutModal">About</a>
        </div>
    </div>
    @RenderBody()
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">About</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This map is build on top of <a target="_blank" href="https://www.rowshare.com/t/@ViewBag.BlogId">RowShare</a> using <a target="_blank" href="https://github.com/cubitouch/RowShareWebEngine">RowShare.MapEngine</a>.
                    </p>
                    <p>
                        To run your own, just duplicate the RowShare table and deploy the engine to azure!
                    </p>
                    <a href="https://azuredeploy.net/?repository=https://github.com/cubitouch/RowShareWebEngine/tree/master/RowShare.MapEngine" target="_blank">
                        <img src="http://azuredeploy.net/deploybutton.png" />
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        google.maps.event.addDomListener(window, 'load', initializeMap);
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
